.container {
    width: 90%;
    margin: 0 auto;
}
.calc-container {
    width: 15%;
    margin: 0 auto;
}
.row {
    width: 100%;
}
.big-input-box {
    width: 36%;
    resize: none;
}
.small-input-box {
    width: 10%;
    resize: none;
}
.calculator-button {
    float: left;
    width: 25%;
    height: 50px;
}
.bigger-button {
    width: 50%;
}
.text-boxes {
    text-align: center;
}
.even-bigger-button {
    width: 100%;
}
.random {
    display: inline;
    width: 45%;
}